.modal-title{
    width: 100%;
}
.semanticModal
{
    height:auto;
    top:auto;
    left:auto;
    bottom:auto;
    right:auto;
}

.modals.dimmer .ui.scrolling.modal:not([class*="overlay fullscreen"])::after{
    content: none;
}